.my_treasure {
  width: 935px;
  /* background-color: cadetblue; */
  margin-left: 20px;
  float: right;
  border-radius: 8px;
}

.my_earnings {
  height: 150px;
  width: 390px;
  background-color: #2e3341;
  float: left;
  border-radius: 8px;
  padding: 15px;
  clear: both;
}

.history_bill {
  margin-top: 20px;
}

.clears3 {
  clear: both;
}

.you_type {
  border-bottom: 1px solid #ccc;
  padding: 9px 0;
}

.type_bill {
  background-color: #fff;
  padding: 8px 15px 15px 15px;
  border-radius: 8px;
}

.running {
  margin-top: 15px;
  position: relative;
}

.detail_time {
  background-color: #fff;
  margin-top: 18px;
  border-radius: 8px;
  position: relative;
  padding: 10px 17px 10px 12px;
}

.money {
  border-bottom: 1px solid #ccc;
  padding: 0px 0px 8px 0px;
}

.alters {
  float: right;
  width: 40px;
  height: 20px;
  background-color: #000000;
  opacity: 0.5;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  padding-left: 9px;
  padding-top: 1px;
  margin-top: -140px;
  margin-right: 5px;
  cursor: pointer;
}