
.ant-card-body {
	padding: 15px 15px 0 15px;
	zoom: 1;
}
.memo_card {
	width: 216px;
	height: 130px;
	background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  margin-top: 15px;
  float: left;
  position: relative;
}
