.treasure {
	width: 1200px;
	/* background-color: red; */
	height: 100%;
	margin: 0 auto;
	padding-top: 30px;
	overflow: auto;
	margin-bottom: 70px;
}
.userCentre{
	/* width: 1200px; */
	background-color: #f7f7f7;
	margin: 0 auto;
	/* height: 100%; */
	overflow: auto;
}
.bagcors {
	background-color: #f7f7f7;
	/* height: 100%; */
	/* overflow: auto; */
	/* margin-top: 30px; */
}
.lawyer_circle {
	width: 1200px;
	margin: 0 auto;
	height: 100%;
}
.lawyer_left {
	width: 240px;
	float: left;

	/* background-color: coral; */
}
.my_userName {
	width: 240px;
	height: 270px;
	background-color: #fff;
	border-radius: 8px;
}
.svatar {
	margin-left: 90px;
	padding-top: 20px;
}
.user_region {
	text-align: center;
	margin-top: 10px;
}
.myoperation {
	margin-top: 30px;
	float: left;
	position: relative;
	margin-left: 5px;
}
.wire4 {
	border-right: #333333 1px solid;
	height: 30px;
	width: 1px;
	position: absolute;
	left: 69px;
	top: 10px;
}
.wire5 {
	border-right: #333333 1px solid;
	height: 30px;
	width: 1px;
	position: absolute;
	left: 48px;
	top: 10px;
}
.wire3 {
	border-right: #333333 1px solid;
	height: 30px;
	width: 1px;
	position: absolute;
	left: 10px;
	top: 10px;
}
/* 导航切管部分 */
.classiFication {
	width: 240px;
	margin-top: 20px;
	border-radius: 8px;
	padding: 15px 0 6px 0;
	background-color: #fff;
}
.my_comment {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 20px;
}
.my_collect {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 20px;
}
.my_law {
	margin-top: 10px;
	margin-bottom: 20px;
}
.my_fans {
	margin-top: 10px;
	margin-bottom: 20px;
}
.clears{
	clear: both;
}
